<style>
#navigation{
	position:absolute;
	width:180px;
	height:500px;
	margin:20px;
	margin-top:50px;
	border-right:1px solid #c6ec8c;
	font-weight:normal;
}
#contentArea{
	position:absolute;
	padding: 0 0 20px 0;
	margin-top:50px;
	margin-left:195px;
}
img {
	position:relative;
	top:-30px;
}
</style>